In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (1.0.2)

In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (0.3.9)
Requirement already satisfied: six in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlparse in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (3.0.0)
Requirement already satisfied: setuptools>=18.5 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: pickleshare in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: jedi>=0.16 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: backcall in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: appnope in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: traitlets>=4.2 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: decorator in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pexpect>4.3 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [3]:
%load_ext sql

### user name and pw!!

In [4]:
db_user = "admin"
db_password = "dbuserdbuser"

In [5]:
connection_string_template = "mysql+pymysql://{db_user}:{db_password}@movie-db.cun5oab4j19d.us-east-2.rds.amazonaws.com"
connection_string = connection_string_template.format(db_user=db_user, db_password=db_password)
connection_string

'mysql+pymysql://admin:dbuserdbuser@movie-db.cun5oab4j19d.us-east-2.rds.amazonaws.com'

In [6]:
%sql $connection_string

'Connected: admin@None'

In [7]:
import pymysql

In [8]:
conn = pymysql.connect(
    host="movie-db.cun5oab4j19d.us-east-2.rds.amazonaws.com",
    port=3306,
    user=db_user,
    password=db_password,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)

In [9]:
conn

## Movies Database

In [10]:
%sql create database if not exists movies_databases

 * mysql+pymysql://admin:***@movie-db.cun5oab4j19d.us-east-2.rds.amazonaws.com
1 rows affected.

[]

In [11]:
%sql use movies_databases

 * mysql+pymysql://admin:***@movie-db.cun5oab4j19d.us-east-2.rds.amazonaws.com
0 rows affected.

[]

In [12]:
%sql drop table if exists movie_table

 * mysql+pymysql://admin:***@movie-db.cun5oab4j19d.us-east-2.rds.amazonaws.com
0 rows affected.

[]

In [13]:
%%sql
create table movie_table
(
    guid           varchar(256) not NULL primary key,
    name           varchar(128) not null,
    category       varchar(32) not null,
    year           year        not null,
    rating         varchar(32) null
);

 * mysql+pymysql://admin:***@movie-db.cun5oab4j19d.us-east-2.rds.amazonaws.com
0 rows affected.

[]

In [14]:
sql describe movie_table

 * mysql+pymysql://admin:***@movie-db.cun5oab4j19d.us-east-2.rds.amazonaws.com
5 rows affected.

[('guid', 'varchar(256)', 'NO', 'PRI', None, ''),
 ('name', 'varchar(128)', 'NO', '', None, ''),
 ('category', 'varchar(32)', 'NO', '', None, ''),
 ('year', 'year', 'NO', '', None, ''),
 ('rating', 'varchar(32)', 'YES', '', None, '')]

### Import data

In [15]:
import csv 
import uuid 

new_rows = []

# Open the file for reading and then wrap with a CSV reader class.
with open('./movie.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        r['guid'] = str(uuid.uuid4())
        new_rows.append(r)

In [16]:
new_rows[0:2]

[{'name': "Harry Potter and the Sorcerer's Stone",
  'category': 'Adventure',
  'year': '2001',
  'rating': '7.6',
  'guid': '1b3ae702-6c88-422c-999a-6b94f1bfead0'},
 {'name': 'Star Wars',
  'category': 'Action',
  'year': '1977',
  'rating': '8.6',
  'guid': '1237fa9e-ee13-4115-9038-0b23d9885b89'}]

In [17]:
insert_sql = """
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values(%s,%s,%s,%s,%s)
"""

In [18]:
cur = conn.cursor()

In [19]:
for r in new_rows:
    # print(r.values())
    print("SQL = ", cur.mogrify(insert_sql, list(r.values())))
    res = cur.execute(insert_sql,list(r.values()))

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Harry Potter and the Sorcerer\'s Stone','Adventure','2001','7.6','1b3ae702-6c88-422c-999a-6b94f1bfead0')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Star Wars','Action','1977','8.6','1237fa9e-ee13-4115-9038-0b23d9885b89')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('The Lord of the Rings: The Fellowship of the Ring','Action','2001','8.8','0095eb79-2a3e-4cf4-a201-08507c2afbb8')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Twilight','Fantacy','2008','5.3','3f4adeb4-6ee3-445c-8291-b0cb2d13d31b')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('The Matrix','Sci-fi','1999','8.7','d4161f4f-0571-4a38-85af-6093db8b6f1e')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Interstellar','Adventure','2014','8.6','0615d016-a53d-471d-a60a-e3b2bf7cd53f')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('The Dark knight ','Action','2008','9','38725366-5660-49f3-806c-58c5ecadbdb6')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Black Adam','Action','2022','7.1','dedcd487-b528-40b1-8c55-d38ea82494ea')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Perfume','Drama','2006','7.5','ad786f33-f03b-45db-9efb-cce79bd1d8a3')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Lust, Caution','Drama','2007','7.5','f8fac939-261d-44ed-9567-ceab24024ec8')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Happy Together','Drama','1997','7.7','a32dfd56-3c92-4379-b975-7272b53f514d')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Shrek','Comedy','2001','7.9','3759eeb9-c3ab-4b70-aee5-21b351e8e184')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Dune','Action','2021','8','648cda1a-957b-4c40-892e-86ada4dbe173')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Good Will Hunting','Action','1997','8.3','92980201-9d46-4041-a166-08124e1e9505')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Blade Runner','Action','1982','8.1','5d3bedfb-ae60-4f7e-a9d2-a16fa394ff9a')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Halloween Ends','Horror','2022','5','b8d0a3b8-8c20-4bf1-81ff-af6426f6ae45')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Bullet Train','Action','2022','7.3','b01d0364-206f-4f23-b74f-3a0cb0f7fced')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Parasite','Drama','2019','8.5','bad7963d-ef4b-47d9-a277-395f5a20a638')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Transformers','Action','2007','7','dd97cdb1-139f-4d7d-9bbc-b6ade9b1a2c1')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Train to Busan','Action','2016','7.6','676c04e4-daef-4b49-b653-8aeb7b5bc7f3')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Tár','Drama','2022','8.2','38b6dc99-be40-4838-82f9-dd7c9759034a')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Transformers: Revenge of the Fallen','Action','2009','5.9','ae3fbc16-3c8b-40df-b4a3-8299f9ace6eb')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Transformers: Dark of the Moon','Action','2011','6.2','e3fba625-c4e6-48dc-a513-1b4bfc9760ae')

In [20]:
%sql select * from movies_databases.movie_table;

 * mysql+pymysql://admin:***@movie-db.cun5oab4j19d.us-east-2.rds.amazonaws.com
23 rows affected.

[('0095eb79-2a3e-4cf4-a201-08507c2afbb8', 'The Lord of the Rings: The Fellowship of the Ring', 'Action', 2001, '8.8'),
 ('0615d016-a53d-471d-a60a-e3b2bf7cd53f', 'Interstellar', 'Adventure', 2014, '8.6'),
 ('1237fa9e-ee13-4115-9038-0b23d9885b89', 'Star Wars', 'Action', 1977, '8.6'),
 ('1b3ae702-6c88-422c-999a-6b94f1bfead0', "Harry Potter and the Sorcerer's Stone", 'Adventure', 2001, '7.6'),
 ('3759eeb9-c3ab-4b70-aee5-21b351e8e184', 'Shrek', 'Comedy', 2001, '7.9'),
 ('38725366-5660-49f3-806c-58c5ecadbdb6', 'The Dark knight ', 'Action', 2008, '9'),
 ('38b6dc99-be40-4838-82f9-dd7c9759034a', 'Tár', 'Drama', 2022, '8.2'),
 ('3f4adeb4-6ee3-445c-8291-b0cb2d13d31b', 'Twilight', 'Fantacy', 2008, '5.3'),
 ('5d3bedfb-ae60-4f7e-a9d2-a16fa394ff9a', 'Blade Runner', 'Action', 1982, '8.1'),
 ('648cda1a-957b-4c40-892e-86ada4dbe173', 'Dune', 'Action', 2021, '8'),
 ('676c04e4-daef-4b49-b653-8aeb7b5bc7f3', 'Train to Busan', 'Action', 2016, '7.6'),
 ('92980201-9d46-4041-a166-08124e1e9505', 'Good Will Hunting', 'Action', 1997, '8.3'),
 ('a32dfd56-3c92-4379-b975-7272b53f514d', 'Happy Together', 'Drama', 1997, '7.7'),
 ('ad786f33-f03b-45db-9efb-cce79bd1d8a3', 'Perfume', 'Drama', 2006, '7.5'),
 ('ae3fbc16-3c8b-40df-b4a3-8299f9ace6eb', 'Transformers: Revenge of the Fallen', 'Action', 2009, '5.9'),
 ('b01d0364-206f-4f23-b74f-3a0cb0f7fced', 'Bullet Train', 'Action', 2022, '7.3'),
 ('b8d0a3b8-8c20-4bf1-81ff-af6426f6ae45', 'Halloween Ends', 'Horror', 2022, '5'),
 ('bad7963d-ef4b-47d9-a277-395f5a20a638', 'Parasite', 'Drama', 2019, '8.5'),
 ('d4161f4f-0571-4a38-85af-6093db8b6f1e', 'The Matrix', 'Sci-fi', 1999, '8.7'),
 ('dd97cdb1-139f-4d7d-9bbc-b6ade9b1a2c1', 'Transformers', 'Action', 2007, '7'),
 ('dedcd487-b528-40b1-8c55-d38ea82494ea', 'Black Adam', 'Action', 2022, '7.1'),
 ('e3fba625-c4e6-48dc-a513-1b4bfc9760ae', 'Transformers: Dark of the Moon', 'Action', 2011, '6.2'),
 ('f8fac939-261d-44ed-9567-ceab24024ec8', 'Lust, Caution', 'Drama', 2007, '7.5')]