In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (1.0.2)

In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (0.3.9)
Requirement already satisfied: sqlparse in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: prettytable in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (3.0.0)
Requirement already satisfied: six in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: appnope in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pygments in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: backcall in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pickleshare in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: jedi>=0.16 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: matplotlib-inline in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (65.6.3)
Requirement already satisfied: greenlet!=0.4.17 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: wcwidth in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /Users/litinghuang/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)

In [3]:
%load_ext sql

### user name and pw!!

In [5]:
db_user = "root"
db_password = "dvuserdvuser"

In [6]:
connection_string_template = "mysql+pymysql://{db_user}:{db_password}@localhost"
connection_string = connection_string_template.format(db_user=db_user, db_password=db_password)
connection_string

'mysql+pymysql://root:dvuserdvuser@localhost'

In [7]:
%sql $connection_string

'Connected: root@None'

In [8]:
import pymysql

In [9]:
conn = pymysql.connect(
    host="localhost",
    port=3306,
    user=db_user,
    password=db_password,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)

In [13]:
conn

## Movies Database

In [14]:
%sql create database if not exists movies_databases

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [15]:
%sql use movies_databases

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [16]:
%sql drop table if exists movie_table

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [17]:
%%sql
create table movie_table
(
    guid           varchar(256) not NULL primary key,
    name           varchar(128) not null,
    category       varchar(32) not null,
    year           year        not null,
    rating         varchar(32) null
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [18]:
sql describe movie_table

 * mysql+pymysql://root:***@localhost
5 rows affected.

[('guid', 'varchar(256)', 'NO', 'PRI', None, ''),
 ('name', 'varchar(128)', 'NO', '', None, ''),
 ('category', 'varchar(32)', 'NO', '', None, ''),
 ('year', 'year', 'NO', '', None, ''),
 ('rating', 'varchar(32)', 'YES', '', None, '')]

### Import data

In [19]:
import csv 
import uuid 

new_rows = []

# Open the file for reading and then wrap with a CSV reader class.
with open('./movie.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        r['guid'] = str(uuid.uuid4())
        new_rows.append(r)

In [20]:
new_rows[0:2]

[{'name': "Harry Potter and the Sorcerer's Stone",
  'category': 'Adventure',
  'year': '2001',
  'rating': '7.6',
  'guid': 'ad319c8f-0da2-4890-b8c3-b693fe120c8f'},
 {'name': 'Star Wars',
  'category': 'Action',
  'year': '1977',
  'rating': '8.6',
  'guid': '4710a3c9-c3c6-4cac-9e68-0ef2da519f77'}]

In [21]:
insert_sql = """
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values(%s,%s,%s,%s,%s)
"""

In [22]:
cur = conn.cursor()

In [23]:
for r in new_rows:
    # print(r.values())
    print("SQL = ", cur.mogrify(insert_sql, list(r.values())))
    res = cur.execute(insert_sql,list(r.values()))

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Harry Potter and the Sorcerer\'s Stone','Adventure','2001','7.6','ad319c8f-0da2-4890-b8c3-b693fe120c8f')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Star Wars','Action','1977','8.6','4710a3c9-c3c6-4cac-9e68-0ef2da519f77')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('The Lord of the Rings: The Fellowship of the Ring','Action','2001','8.8','25fc0286-c5bb-42bf-8da6-21569fe47cae')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Twilight','Fantacy','2008','5.3','1427fbae-293b-4aa3-aeda-b2b77dae9bee')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('The Matrix','Sci-fi','1999','8.7','571da675-73df-492f-a922-77daf7110aaf')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Interstellar','Adventure','2014','8.6','e0c8fcfc-7864-47e3-bf8f-9c03570ef5d2')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('The Dark knight ','Action','2008','9','55911433-d07d-4bad-b5a8-099cd1a447ce')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Black Adam','Action','2022','7.1','a5345636-f28e-4bc6-9539-ec34f523c2e4')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Perfume','Drama','2006','7.5','6d88e5ef-c664-4ab1-972a-50b056a8e9e3')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Lust, Caution','Drama','2007','7.5','231634b6-14e5-428a-94de-328c5c14211f')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Happy Together','Drama','1997','7.7','68dc89d6-e1ac-472f-8900-3dde5100b21e')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Shrek','Comedy','2001','7.9','46eabf91-49e5-4218-a128-2799bfafadc8')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Dune','Action','2021','8','2594548d-69ac-4413-beea-98752f4246d1')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Good Will Hunting','Action','1997','8.3','8a233aee-1a9a-43b3-9b81-49262dc9b9c0')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Blade Runner','Action','1982','8.1','dbc14968-30b9-4e37-8456-c4c7ce10b064')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Halloween Ends','Horror','2022','5','9ff368c7-366d-478b-a14a-170f7ab6feac')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Bullet Train','Action','2022','7.3','10595556-03f3-496e-9017-4127e03082f5')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Parasite','Drama','2019','8.5','477e9388-a4f3-4304-ac92-53f3a3367b99')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Transformers','Action','2007','7','9096ebd6-f719-4134-b472-722b7f163236')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Train to Busan','Action','2016','7.6','5e4c9381-01aa-4c22-9edf-8da16ea452f7')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Tár','Drama','2022','8.2','626eafb6-e95b-4e77-91ce-dd6109784a1a')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Transformers: Revenge of the Fallen','Action','2009','5.9','ad0e2fb8-0266-4874-a500-0b87d4eaa969')

SQL =
    insert into movies_databases.movie_table(name, category, year, rating, guid)
    values('Transformers: Dark of the Moon','Action','2011','6.2','645b3cdb-18ec-4bb5-a796-825794a21203')

In [24]:
%sql select * from movies_databases.movie_table;

 * mysql+pymysql://root:***@localhost
23 rows affected.

[('10595556-03f3-496e-9017-4127e03082f5', 'Bullet Train', 'Action', 2022, '7.3'),
 ('1427fbae-293b-4aa3-aeda-b2b77dae9bee', 'Twilight', 'Fantacy', 2008, '5.3'),
 ('231634b6-14e5-428a-94de-328c5c14211f', 'Lust, Caution', 'Drama', 2007, '7.5'),
 ('2594548d-69ac-4413-beea-98752f4246d1', 'Dune', 'Action', 2021, '8'),
 ('25fc0286-c5bb-42bf-8da6-21569fe47cae', 'The Lord of the Rings: The Fellowship of the Ring', 'Action', 2001, '8.8'),
 ('46eabf91-49e5-4218-a128-2799bfafadc8', 'Shrek', 'Comedy', 2001, '7.9'),
 ('4710a3c9-c3c6-4cac-9e68-0ef2da519f77', 'Star Wars', 'Action', 1977, '8.6'),
 ('477e9388-a4f3-4304-ac92-53f3a3367b99', 'Parasite', 'Drama', 2019, '8.5'),
 ('55911433-d07d-4bad-b5a8-099cd1a447ce', 'The Dark knight ', 'Action', 2008, '9'),
 ('571da675-73df-492f-a922-77daf7110aaf', 'The Matrix', 'Sci-fi', 1999, '8.7'),
 ('5e4c9381-01aa-4c22-9edf-8da16ea452f7', 'Train to Busan', 'Action', 2016, '7.6'),
 ('626eafb6-e95b-4e77-91ce-dd6109784a1a', 'Tár', 'Drama', 2022, '8.2'),
 ('645b3cdb-18ec-4bb5-a796-825794a21203', 'Transformers: Dark of the Moon', 'Action', 2011, '6.2'),
 ('68dc89d6-e1ac-472f-8900-3dde5100b21e', 'Happy Together', 'Drama', 1997, '7.7'),
 ('6d88e5ef-c664-4ab1-972a-50b056a8e9e3', 'Perfume', 'Drama', 2006, '7.5'),
 ('8a233aee-1a9a-43b3-9b81-49262dc9b9c0', 'Good Will Hunting', 'Action', 1997, '8.3'),
 ('9096ebd6-f719-4134-b472-722b7f163236', 'Transformers', 'Action', 2007, '7'),
 ('9ff368c7-366d-478b-a14a-170f7ab6feac', 'Halloween Ends', 'Horror', 2022, '5'),
 ('a5345636-f28e-4bc6-9539-ec34f523c2e4', 'Black Adam', 'Action', 2022, '7.1'),
 ('ad0e2fb8-0266-4874-a500-0b87d4eaa969', 'Transformers: Revenge of the Fallen', 'Action', 2009, '5.9'),
 ('ad319c8f-0da2-4890-b8c3-b693fe120c8f', "Harry Potter and the Sorcerer's Stone", 'Adventure', 2001, '7.6'),
 ('dbc14968-30b9-4e37-8456-c4c7ce10b064', 'Blade Runner', 'Action', 1982, '8.1'),
 ('e0c8fcfc-7864-47e3-bf8f-9c03570ef5d2', 'Interstellar', 'Adventure', 2014, '8.6')]